<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <appSettings>
    <add key="IsSaas" value="false"/>
		<add key="ClientType" value="WCF"/><!--客户端类型：WCF三层模式-->
    <add key="WebApiUri" value="http://localhost:8011"/>
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="EntLibConfiguration" parentSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="EntLibConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Config\EntLib.config"/>
    </sources>
    <redirectSections>
      <add sourceName="LogConfiguration" name="loggingConfiguration"/>
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_WCFHandlerService"  closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"   maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" listenBacklog="1000" maxConnections="1000">
          <readerQuotas maxDepth="64" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession enabled="false" ordered="true" inactivityTimeout="00:10:00"/>
          <security mode="None">
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_FileTransferHandlerService" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"  transferMode="Streamed">
          <security mode="None">
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    <services>
      <service name="EFWCoreLib.WcfFrame.WcfService.WCFHandlerService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_WCFHandlerService" contract="EFWCoreLib.WcfFrame.WcfService.Contract.IWCFHandlerService"/>
        <!--<endpoint name="MEX" address="mex" binding="netTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8811/WCFHandlerService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="EFWCoreLib.WcfFrame.WcfService.FileTransferHandlerService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FileTransferHandlerService" contract="EFWCoreLib.WcfFrame.WcfService.Contract.IFileTransfer">
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8812/FileTransferHandlerService" />
          </baseAddresses>
        </host>
      </service>
      <service name="EFWCoreLib.WcfFrame.WcfService.RouterHandlerService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_WCFHandlerService" contract="EFWCoreLib.WcfFrame.WcfService.Contract.IRouterService"></endpoint>
        <!--<endpoint name="MEX" address="mex" binding="netTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8813/RouterHandlerService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="EFWCoreLib.WcfFrame.WcfService.FileRouterHandlerService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FileTransferHandlerService" contract="EFWCoreLib.WcfFrame.WcfService.Contract.IFileRouterService"></endpoint>
        <!--<endpoint name="MEX" address="mex" binding="netTcpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:8814/FileRouterHandlerService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <!--net.tcp://127.0.0.1:8888/RouterService-->
      <!--net.tcp://127.0.0.1:5999/WCFHandlerService-->
      <endpoint name="wcfendpoint" address="net.tcp://127.0.0.1:8811/WCFHandlerService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_WCFHandlerService" contract="EFWCoreLib.WcfFrame.WcfService.Contract.IWCFHandlerService"/>
      <endpoint name="fileendpoint" address="net.tcp://127.0.0.1:8812/FileTransferHandlerService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_FileTransferHandlerService" contract="EFWCoreLib.WcfFrame.WcfService.Contract.IFileTransfer"/>
    </client>
  </system.serviceModel>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
